body {
  margin: 0;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom {
  background-color: #ff6f47!important;
  border: 1px solid #ff6f47!important;
}

.todo-item-icon:hover {
  cursor: pointer;
}

.text-custom {
  color: #ff6f47!important;
}